* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  user-select: none;
}

div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1rem;

  > main {
    border-radius: 0.25rem;
    box-shadow: 1px 1px 5px #000000;
    padding: 0.5rem;

    > #head {
      display: flex;
      flex-direction: column;

      > #__cover {
        display: flex;
        border-radius: 0.5rem;
        aspect-ratio: 3 / 2;
        box-sizing: border-box;
        width: 15rem;
        justify-items: center;
        align-content: center;
        align-items: center;
        justify-content: center;

        > img {
          text-align: center;
          background-color: #dedede;
          border-radius: 0.5rem;
          width: 15rem;
          aspect-ratio: 3 / 2;
          box-sizing: border-box;
        }
      }

      > #__photo {
        display: flex;
        margin-top: -25%;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        width: 7rem;
        box-sizing: border-box;
        justify-items: center;
        align-items: center;
        justify-content: content;
        align-content: center;

        > img {
          text-align: center;
          background-color: #dedede;
          border-radius: 50%;
          aspect-ratio: 1 / 1;
          width: 7rem;
          height: 7rem;
        }
      }
    }
    > .basic-info {
      > nav {
        > ul {
          display: flex;
          flex-direction: row;

          > li {
            list-style: none;
            padding: 0 0.5rem;
          }
        }
      }
    }
    > .main-sections {
      > div {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;

        > span {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: space-between;
          box-sizing: border-box;
          width: 100%;

          > span[contenteditable="true"] {
            border-bottom: 2px #000000 solid;
          }
        }
      }
    }
  }
}
