* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

#base-calendar {
  display: grid;
  grid-template-columns: auto auto auto auto;

  .calendars {
    display: grid;
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
  }
}
