@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	user-select: none;
	border: 0;
}

body {
	background-image: url('https://img.freepik.com/free-vector/blue-fluid-background_53876-114597.jpg?t=st=1704243105~exp=1704243705~hmac=284c380ec033bcdb8182010f803ef886b4ce5d63907d0d527b75cb1181409fe3');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

main {
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(40px);
	width: 100%;
	display: flex;
	flex-direction: column;
}

main>#slider {
	overflow: hidden;
	width: 25rem;
	height: 25rem;
	align-self: center;
}

main>#slider>#img {
	height: 90%;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	justify-content: center;
	justify-items: center;
}

main>#slider>#img>img {
	width: 100%;
	border-radius: .5em;
	margin: .5em;
	transition: 0.6s ease-in-out;
}

main>#slider>#img>.in {
	animation: slide-in 1s forwards;
}

main>#slider>#img>.out {
	animation: slide-out 1s;
}

main>#slider>#points {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main>#slider>#points>span {
	padding: .5em .75em;
	margin: .15em;
	border-radius: 1em;
	background-color: white;
	color: black;
}

@keyframes slide-in {
	from {
		transform: translate(100%);
	}

	to {
		transform: translate(0%);
	}
}

@-webkit-keyframes slide-in {
	from {
		transform: translate(100%);
	}

	to {
		transform: translate(0%);
	}
}

@-moz-keyframes slide-in {
	from {
		transform: translate(100%);
	}

	to {
		transform: translate(0%);
	}
}

@keyframes slide-out {
	from {
		transform: translate();
	}

	to {
		transform: translate(-100%);
	}
}

@-webkit-keyframes slide-out {
	from {
		transform: translate(0%);
	}

	to {
		transform: translate(-100%);
	}
}

@-moz-keyframes slide-out {
	from {
		transform: translate(0%);
	}

	to {
		transform: translate(-100%);
	}
}

@media only screen and (max-width: 720px) {
	main {
		background-image: url('https://img.freepik.com/free-vector/blue-fluid-background-frame_53876-99019.jpg?w=360&t=st=1704275008~exp=1704275608~hmac=3542aa87448474a94fd894a188be218516e312687541e9e2120c5abe95aa5549');
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
